@charset "utf-8";

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.O2PS4O-frame {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #3f3f3f;
	color: #fff;
	font-family: Meiryo, sans-serif;
}
.O2PS4O-frame .panel-group {
	display: flex;
	box-sizing: border-box;
	overflow: auto;
	font-size: 12px;
}
.O2PS4O-frame .layout-col {
	flex-direction: row;
}
.O2PS4O-frame .layout-row {
	flex-direction: column;
}


.O2PS4O-group-menu {
	height: 20px;
	border-bottom: 1px solid #000;
}
.O2PS4O-group-tool {
	width: 20px;
	border-right: 1px solid #000;
}
.O2PS4O-group-main {
	flex: 1;
}
.O2PS4O-group-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}
.O2PS4O-group-info {
	max-width: 25%;
	min-width: 200px;
	border-left: 1px solid #000;
}

.O2PS4O-frame .panel {
	outline: 1px solid #000;
}
.O2PS4O-frame .panel + .panel {
	margin-top: 1px;
}
.O2PS4O-frame .panel-header {
	background: #1f1f1f;
}
.O2PS4O-frame .panel-title {
	margin: 0;
	padding: 0.5em 5px;
	font-size: 10px;
	line-height: 1;
	font-weight: normal;
}
.O2PS4O-frame .panel-body {
	min-height: 20px;
	border-top: 1px solid #2f2f2f;
}

.O2PS4O-frame .O2PS4O-panel-menu {
	outline: 0 none;
	font-size: 12px;
	line-height: 20px;
}
.O2PS4O-panel-menu ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.O2PS4O-panel-menu li {
}
.O2PS4O-panel-menu label {
	cursor: pointer;
}
.O2PS4O-panel-menu label:hover,
.O2PS4O-panel-menu label:focus,
.O2PS4O-panel-menu label:active {
	background: #3366ff;
	color: #fff;
}
.O2PS4O-panel-menu .menu-input {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.O2PS4O-panel-canvas {
	display: block;
	margin: auto;
	background: #fff url(../img/canvas_bg.png);
}

.content-layers {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.layer-item {
	padding: 5px;
	border-top: 1px solid #000;
	cursor: pointer;
}
.layer-item:first-child {
	border-top: 0 none;
}
.layer-item[data-hidden="true"] {
	opacity: 0.5;
}
.layer-item:hover {
	background: #7f7f7f;
}
.layer-item:active,
.layer-item:focus {
	background: #3366ff;
	color: #fff;
}
.layer-item section {
	display: flex;
	flex-direction: row-reverse;
}
.layer-name {
	flex: 1;
	margin: 0 0 0 5px;
	padding: 0;
	font-size: 12px;
	line-height: 20px;
	text-overflow: ellipsis;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
}
.layer-thumb {
	display: block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: #fff url(../img/canvas_bg.png);
}
.layer-thumb canvas {
	display: block;
	margin: 0 auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}








.O2PS4O-panel-debug {
	font-size: 12px;
	font-family: monospace;
}
.O2PS4O-panel-debug li {
	margin-top: 0.5em;
}
.O2PS4O-panel-debug ul {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}
.O2PS4O-panel-debug [aria-expanded] {
	cursor: pointer;
	padding-left: 0.5em;
	border-left: 5px solid #ccc;
}
.O2PS4O-panel-debug [aria-expanded]::before {
	content: "[+] ";
}
.O2PS4O-panel-debug [aria-expanded] > ul {
	display: none;
}
.O2PS4O-panel-debug [aria-expanded="true"]::before {
	content: "[-] ";
}
.O2PS4O-panel-debug [aria-expanded="true"] > ul {
	display: block;
}
